= form_tag edit_organization_event_path(organization, event), method: "get" do
  .input-group.input-group-md
    %input.enter-text#search{:placeholder => "Search for users...", :type => "text", :name => "search"}
    %span.input-group-btn
      %button.btn.btn.default{:type => "submit"}
        = fa_icon "search"