= form_tag edit_organization_event_path(organization, event), method: "get" do
  .input-group.input-group-md
    %input.enter-text#search_summaries{:placeholder => "Search documents...", :type => "text", :name => "search_summaries"}
    %span.input-group-btn
      %button.btn.btn.default{:type => "submit"}
        = fa_icon "search"