.main-content
  - if current_user.has_pending_invitation?
    = render partial: 'organizations/notice', locals: {membership: @membership, invited_organization: @invited_organization }
  .content-title My Docs
  - if @documents
    - @documents.each do |document|
      =render partial: 'documents/panel', locals: {document: document}
.sidebar
  = render partial: 'users/info', locals: {user: current_user}
  = render partial: 'users/options', locals: {user: current_user}
