.centered-content-full
  =month_calendar events: @events do |date, events|
    - capture_haml do
      = date.day
      .event-list
        - events.each do |event|
          = link_to event.title, organization_event_path(@organization, event), class: 'event-button'