.main-content
  .content-title Group Documents
  - @documents.each do |document|
    = render partial: 'documents/panel', locals: {document: document}
.sidebar
  = render partial: 'users/info', locals: {user: current_user}
  = render partial: 'users/options', locals: {user: current_user}