@import "bootstrap";
@import "simple_calendar";
/******************************
  Application Layout Styles
******************************/

body {
  padding-top: 70px;
}
.site-wrapper {
  @extend .container;
}
.navigation {
  @extend .navbar;
  @extend .navbar-default;
  padding-right: 2rem;
}
.navigation-header {
  @extend .navbar-header
}
.navigation-brand {
  @extend .navbar-brand;
}
.navigation-left {
  @extend .nav;
  @extend .navbar-nav;
  @extend .navbar-left;
}

.navigation-right {
  @extend .nav;
  @extend .navbar-nav;
  @extend .navbar-right;
}

.app-content {
  @extend .row;
}

/******************************
  Standard View Elements
******************************/

/* app views will use .main-content/.sidebar split or .centered-content*/
.main-content {
  @extend .col-md-8;
}
.sidebar {
  @extend .col-md-4;
  border-left: 1px lightgrey solid;
}
.centered-content {
  @extend .col-md-6;
  @extend .col-md-offset-3;
}
.content-title {
  font-size: 5rem;
  padding-bottom: 2rem;
}
.content-header {
  font-size: 4rem;
  padding-bottom: 1rem;
}
.content-subheader {
  font-size: 2rem;
  padding-bottom: 0.5rem;
}
.moderator-header {
  font-size: 2rem;
  padding-left: 2rem;
}
.warning-header {
  font-size: 3rem;
  padding-bottom: 1rem;
  color: red;
}
.profile-section {
  margin: 1rem 0;
  padding: 1rem;
  margin: 0 1rem;
}

.sidebar-section {
  margin-bottom: 1rem;
}

.sidebar-title {
  font-size: 2rem;
  border-bottom: 1px lightgrey solid;
  margin-bottom: 0.5rem;
}

.sidebar-content {
  font-size: 1.5rem;
}

.sidebar-content-label {
  font-weight: bold;
}

/******************************
  Table Elements
******************************/

.table-header {
  @extend .row;
  border-bottom: 1px lightgrey solid;
  margin-bottom: 10px;;
}

.small-table-col {
  @extend .col-md-3;
}

.large-table-col {
  @extend .col-md-6;
}

.table-row {
  @extend .row;
  padding: 15px 0;
}

.table-row:nth-child(odd) {
  background: lightgrey;
}

.in-table-form {
  @extend .form-group;
  margin-bottom: 0;
}

/******************************
  Form Elements 
******************************/

.form-section {
  @extend .form-group;
}

.enter-text {
  @extend .form-control;
}

.submit-form {
  @extend .btn;
  @extend .btn-success;
}

.deny-invitation {
  @extend .btn;
  @extend .btn-danger;
}

.edit-record {
  @extend .btn;
  @extend .btn-default;
}

.new-record {
  @extend .btn;
  @extend .btn-default;
}

.view-record {
  @extend .btn;
  @extend .btn-default;
  margin-bottom: 1rem;
}

.invite-user {
  @extend .btn;
  @extend .btn-xs;
  @extend .btn-success;
}
.update-user-role {
  @extend .btn;
  @extend .btn-xs;
  @extend .btn-success;
}

/******************************
  Notice Elements 
******************************/

.invitation-notice {
  padding: 2rem;
  border: 1px lightgreen solid;
}

/******************************
  Document Elements 
******************************/

.document-header{
  @extend .content-subheader;
  margin-bottom:  1rem;
}

.document-options {
  margin-left: 1rem;
}

.view-doc{
  @extend .btn;
  @extend .btn-xs;
  @extend .btn-default;
}

.edit-doc {
  @extend .btn;
  @extend .btn-xs;
  @extend .btn-success;
}

.tag-links {
  margin-top: 1rem;
}

/******************************
  Tag Elements 
******************************/
.view-tag{
  @extend .btn;
  @extend .btn-xs;
  @extend .btn-default;
}

.create-feed {
  @extend .btn;
  @extend .btn-xs;
  @extend .btn-success;
}

/******************************
  Note Elements 
******************************/

.document-contents {
  border: 1px lightgrey solid;
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.document-paragraph {
  margin-top: 1rem;
}

.new-note {
  @extend .btn;
  @extend .btn-xs;
  @extend .btn-default;
  float: left;
  margin-right: 1rem;
  padding: 0.5rem;
}

.note-contents {
  color: grey;
  font-size: 1.25rem;
  font-style: italic;
  margin-left: 1rem;
  padding-top: 1rem;
}

.note-display {
  font-size: 1.5rem;
  font-style: italic;
}

.paragraph-as-note {
  @extend .note-contents;
}

.summary-content {
  font-size: 1.5rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

/******************************
  Panel Elements
******************************/

.content-panel {
  padding: 1rem;
  margin: 1rem 0;
  border-left: 5px darkgrey solid;
  border-top: 1px darkgrey solid;
}
.every-other {
  .content-panel:nth-child(even) {
    background: lightgrey;
  }
}
.color-sorted {
  .document-panel{
    .content-panel{
      background-color: white;
    }
  }
  .event-panel{
    .content-panel{
      background-color: #D8F5FF;
    }
  }
}


.panel-header{
  font-size: 2rem;
  margin-bottom: 1rem;
}
.panel-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom:  1rem;
}
.panel-link {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.panel-text {
  font-size: 1.5rem;
}
.sidebar-panel {
  @extend .content-panel;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border-left: 3px darkgrey solid;
}

.sidebar-panel:nth-child(even) {
  background: lightgrey;
}

.sidebar-panel-header{
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}

.sidebar-panel-link {
  margin-left: 0.5rem;
}

/******************************
  Event Elements 
******************************/

.show-all-events {
  float: right;
}


/******************************
  Calendar Elements 
******************************/

// Styles from simple_calendar gem
.simple-calendar {

  .calendar-header{
    margin: 1rem 0;

    .previous-button{
      @extend .btn;
      @extend .btn-xs;
      @extend .btn-default;
    }
    .next-button{
      @extend .btn;
      @extend .btn-xs;
      @extend .btn-default;
    }

    .month-year{
      font-size: 2rem;
    }
  }

  .day {}

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {}
  .past {}
  .future {}

  .start-date {}

  .prev-month {
  }
  .next-month { }
  .current-month {}

  .has-events {}
  .previous-button{
    font-size: 1rem;
  }
}

.event-button{
  @extend .btn;
  @extend .btn-sm;
  @extend .btn-info;
  margin-bottom: 2px;
}

.event-header {
  font-size: 3rem;
}
.event-content {
  font-style: 2rem;
}